body    {
    overflow-y:scroll;
    background-color: #eee;
}

.secret span {
    font-size: 18px;
    margin-bottom: 20px;
}

li {
    margin-top: 20px;
}


li p {
    padding: 0;
    margin: 5px;
}


.nav-pills > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-pills {
    text-align:center;
}

